/.direnv

**/target/
**/build/
**/*.rs.bk
**/.cargo/registry/**
*.swp
*.sw*
serial.log
disk.img
sata.img
.gdb_history
.vscode/**

*.fingerprint
**/linker.ld

**/*.o
**/*.pyc
**/*.swp
**/*.sw*
**/*.log
**/_gen.rs

domains/generated/