[submodule "sys/lib/smoltcp"]
	path = lib/external/smoltcp
	url = https://github.com/zhaofengli/smoltcp
[submodule "lib/memcpy/musl"]
	path = lib/external/memops/musl
	url = git://git.musl-libc.org/musl
[submodule "lib/external/hashes"]
	path = lib/external/hashes
	url = https://github.com/mars-research/hashes
